.top {
    text-align: left;
    width: 760px;
    padding: 30px 0px 0px 150px;
    margin: 0px 0px 0px 0px;
    float: left;
}

.block {
    display: block;
    padding: 30px 0px 0px 0px;
}

.buttons-div {
    display: block;
    padding-top: 40px;
}

#results {
    border: black;
    width: 100%;
    display: block;
    padding: 40px 40px 40px 40px;
}