<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Use Cases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<form action="/search" method="post" class="pure-form">
    <div class="top">
        <div class="search-div">
            <input class="search-bar" id="query" name="query" type="text" value="{{ query }}" placeholder="">
        </div>
    </div>
    <div class="buttons-div2">
        <span class="block"><input type="submit" name="search" value="Search" class="btn btn-outline-primary"></span>
    </div>
</form>

<div id="results">
    <div class="result">
        <h4>Churn Risk</h4>
        <p>Some customers aren't coming back for return purchases.  If we can predict these customers, we can give them better offers to retain them.</p>
    </div>
    <div class="result">
        <h4>Support Ticket Classification</h4>
        <p>We need clarity into the frequency of different issue types.  This knowledge will be leveraged to find the best tasks to automate.</p>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>